{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav
        class="navbar navbar-expand-lg navbar-light bg-light"
        style="height: 70px;"
>
    <a class="navbar-brand" href="#">TaskManager</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <ul class="nav navbar-nav navbar-right">
        <AmpContent>
            {#            <li><a class="nav-link" href="{{ path('list') }}">View List</a></li> #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Log Out</a>
                </li>
            {% endif %}

        </AmpContent>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <a class="nav-link" href="{{ path('app_tasks_index') }}">Make Task</a>
        </li>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <a class="nav-link" href="{{ path('app_category_index') }}">Make Category</a>
        </li>
        {% endif %}

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
        {% endif %}

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% block body %}{% endblock %} {% block javascripts %}{% endblock %}
</body>
</html>