{% extends 'base.html.twig' %}

{% block title %}Tasks index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Deadline</th>
            <th>actions</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.deadline ? task.deadline|date('Y-m-d H:i:s T') : '' }}</td>

                <td>
                    <a href="{{ path('app_tasks_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('app_tasks_edit', {'id': task.id}) }}">edit</a>
                </td>
                <td>
                    <label>
                        <input
                                id="status"
                                type="checkbox"
                                name="status"
                                value="{{ task.id }}"
                                {{ task.status == 1 ? 'checked' : ''}}
                        >
                    </label>
                </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function(){
            $("#status").change(function(element){
                console.log(element)
                $.ajax({
                    url: "/status/" + element.currentTarget.value,
                    method: 'PUT',
                    data: {
                        checked: element.currentTarget.checked,
                    },
                    success: function(result) {
                        console.log(result)
                    }
                });
            });
        });
    </script>

    <h1>Tasks index</h1>

    <a href="{{ path('app_tasks_new') }}">Create new</a>
{% endblock %}
